<select (change)="onChange($event.target.value)">
  <option value="allFood" >All Food</option>
  <option value="under500" selected="selected">Food under 500 calories</option>
  <option value="over500">Food over 500 calories</option>
</select>

<div class="food-display" *ngFor="let food of foods | calorie:filterByCalories">


  <p>
    {{food.name}}
  </p>
  <ul>
    <li>Details: {{food.details}}</li>
    <li>Caloric Total: {{food.calories}}</li>
    <button (click)="editButton(food)">Edit!</button>
  </ul>
</div>
