<div class="new-food">
<button class="btn" (click)="showForm()">Add Food to your food tracker</button>
<div class="new-food-form" *ngIf="formShowing">

<h3>What food did you just eat?</h3>
  <div>
    <p>Food Name:</p>
    <input required #newName>
  </div>
  <br>
  <div>
   <p>Food description(Where was it from? Was it worth it?):</p>
   <input class="form-control" required #newDetails>
  </div>
  <br>
  <div class="">
    <p>Caloric total:</p>
    <input type="number" #newCalories>
  </div>
  <br>
  <div class="row">
  <button class="btn" type="submit" (click)="submitForm(newName.value, newDetails.value, newCalories.value); newName.value=''; newDetails.value-''; newCalories.value=''; hideForm()">Add</button>
  <button class="btn" (click)="hideForm()">Cancel</button>
</div>
</div>
</div>
